body {
    padding-top: 70px;
}
.container {
    width: 85%;
}
.container-fluid {
    line-height: 2;
}
.logo {
    background-color: #ADC743;
    color: white;
    position: relative;
    top: 0;
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
    font-size: 2.15em;
    background-position: center;
}
#nav-color {
    background-color: white;
    border-color: transparent;
}
li {
    font-size: 17px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
.navbar-default .navbar-brand {
    color: white;
}
i {
    padding: 17px 10px;
    color: grey;
}
.copyright{
    background-color: black;
    width: 100%;   
}
.cprt{
    text-align: center;
}
.cprtb{
    padding: 20px 15px 0px 15px;
    float: left;
}
.cprtr{
    float: right;
}
@media (max-width :1099px){
    .hid{
        display: none;
    }
}
@media (max-width :768px){
    .container{
        width: 95%;
    }
}
@media (max-width :425px){
    .container{       
    }
}